.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.icon {
    font-size: 2rem;
    color: goldenrod;
}

.gold{
    color: goldenrod;
}



@media screen and (max-width: 720px) {
    .icon {
        font-size: 1.5rem;
        color: goldenrod;
    }
    .name {
        font-size: 2rem;
       
    }
    
}